@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Saira:wght@100;300;400&display=swap');


$font: 'Saira', sans-serif;

$white: #FFFFFF;
$white-two: #E8E8E8;
$gray: #B5B5B5;
$green-one: #04d361;
$black-one: #151515;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  // background-color: #E4E4E4;
  background-color: $black-one;
  color: $white-two;
}

.goToTop {
  position: fixed;
  bottom: 3%;
  right: 2%;
  
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;

  opacity: 0;
  transform: translateY(200%);

  transition: all .5s ease;

  img {
    width: 100%;
    height: 100%;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}

.space-page {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1500px) {
    max-width: 1150px;
  }
}

#home {
  header {
    height: 10vh;
    font-size: 1.5rem;
  
    background-color: #2E2E2E;
    color: $white;
  
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      font-size: 1.3rem;
  
      h4 {
        font: 2.5rem 'Akronim';
        color: $green-one;
        text-shadow:  2px 2px 5px$green-one;
      }
  
      ul {
        display: flex;
        justify-content: space-evenly;
              
        li {
          list-style: none;
          margin: 0 2rem;
  
          a {
            display: block;
            text-decoration: none;
            font-size: 1.2rem;
  
            position: relative;
  
            color: $gray;
            z-index: 1;
  
            cursor: pointer;
  
            &::before {
              content: '';
              position: absolute;
              bottom: -5%;
              left: 50%;
              transform: translate(-50%, -50%);
    
              width: 0;
              height: 1px;
              
              background-color: $green-one;
              opacity: 0;
    
              z-index: -1;
    
              transition: .7s ease;
            }
    
            &:hover {
              color: $white;
  
              &::before {
                width: 105%;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  
  main {
    color: $white;
    position: relative;
    height: 90vh;
    display: flex;
  
    .space-page {
      display: flex;
      align-items: center;
  
      .about {
        width:  80vw;
      
        h1 {
          font-size: 1.2rem;
          font-weight: 100;
          letter-spacing: 1px;
          color: $white-two;
  
          span {
            color: $green-one;
            font-size: 4.5rem;
            font-weight: 400;
            line-height: 120%;
  
            margin: 1rem 0 1.5rem 1.5rem;
  
            display: block;

            @media (max-width: 1400px) {
              font-size: 3.5rem;
            }
          }
        }
  
        p {
            font-size: 1.4rem;
            color: $white-two;
            letter-spacing: 1px;
            font-weight: 100;

            @media (max-width: 1400px) {
              font-size: 1.1rem;
            }
        }
      }
      
      .ilustration {
        position: absolute;
        right: 5%;
        top: 10%;

        @media (max-width: 1400px) {
          img {
            height: 450px;
            width: 470px;
          }
        }
      }
    }
  }
}

#about {
  height: 70vh;

  @media (max-width: 1400px) {
    height: 100vh;
  }

  .space-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .imageMe {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: $green-one;
    height: 325px;
    width: 325px;
    border-radius: 50%;
    z-index: -1;
    padding: 15px;

    img {
      border-radius: 50%;
      height: 320px;
      border: 6px solid $black-one;
      position: absolute;
      left: 2px;
    }
  }

  .textAboutMe {   
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 400;
      display: inline-block;
    }

    p {
      line-height: 30px;
      font-size: 1.1rem;
      color: $gray;
      margin-left: .7rem;
    }
  }
}