@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Saira:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #151515;
  color: #E8E8E8;
}

.goToTop {
  position: fixed;
  bottom: 3%;
  right: 2%;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.goToTop img {
  width: 100%;
  height: 100%;
  opacity: .7;
}

.goToTop img:hover {
  opacity: 1;
}

.line {
  height: 2px;
  width: 100%;
  background: #242629;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

header {
  background-color: #242629;
  width: 100%;
  height: 10vh;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 9;
}

header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

header .headerContainer h4 {
  font: 4.5rem 'Akronim';
  color: #04d361;
  text-shadow: 2px 2px 5px #04d361;
}

header .headerContainer .navMobile {
  display: none;
}

@media (max-width: 900px) {
  header .headerContainer .navMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
}

header .headerContainer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .headerContainer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .headerContainer nav ul li {
  list-style: none;
  margin-left: 6rem;
}

header .headerContainer nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
  color: #B5B5B5;
  z-index: 1;
  cursor: pointer;
}

header .headerContainer nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 1px;
  background-color: #04d361;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .headerContainer nav ul li a:hover {
  color: #FFFFFF;
}

header .headerContainer nav ul li a:hover::before {
  width: 105%;
  opacity: 1;
}

@media (max-width: 900px) {
  header .headerContainer nav {
    display: none;
  }
}

#home {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

#home main {
  color: #FFFFFF;
  position: relative;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home main h1 {
  font-size: 1.8rem;
  font-weight: 100;
  letter-spacing: 1px;
  color: #E8E8E8;
}

#home main h1 span {
  color: #04d361;
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 7rem;
  margin: 2rem 0 3rem 3rem;
  display: block;
}

#home main p {
  font-size: 1.8rem;
  color: #E8E8E8;
  letter-spacing: 1px;
  font-weight: 100;
}

#home main .ilustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home main .ilustration img {
  width: 58rem;
}

@media (max-width: 1100px) {
  #home main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #home main h1, #home main p {
    font-size: 1.5rem;
  }
  #home main h1 span, #home main p span {
    font-size: 3rem;
    margin: 2rem 0 3rem 3rem;
  }
  #home main .ilustration img {
    width: 50rem;
  }
}

@media (max-width: 900px) {
  #home main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home main h1, #home main p {
    font-size: 2rem;
  }
  #home main h1 span, #home main p span {
    font-size: 5rem;
    margin: 2rem 0 3rem 3rem;
  }
  #home main .ilustration {
    display: none;
  }
}

#about {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
}

#about .imageMe {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 34.5rem;
  width: 34.5rem;
}

#about .imageMe img {
  border-radius: 5%;
  width: 100%;
}

@media (max-width: 1100px) {
  #about .imageMe {
    height: 30.5rem;
    width: 30.5rem;
  }
}

#about .textAboutMe {
  max-width: 700px;
}

#about .textAboutMe h1 {
  font-size: 3rem;
  letter-spacing: .2rem;
  font-weight: 400;
  display: inline-block;
}

#about .textAboutMe p {
  color: #B5B5B5;
  line-height: 3.2rem;
  font-size: 1.6rem;
  margin: 1.6rem 1.6rem 1.6rem 0;
}

@media (max-width: 1100px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .imageMe {
    display: none;
  }
  #about .textAboutMe {
    max-width: none;
  }
}
/*# sourceMappingURL=style.css.map */