@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Saira:wght@100;300;400&display=swap');


$font: 'Saira', sans-serif;

$white: #FFFFFF;
$white-two: #E8E8E8;
$gray: #B5B5B5;
$green: #04d361;
$background: #151515;
$cardBackground: #242629;
$purple: #7f5af0;
$stroke: #010101;


* {
  margin: 0;
  padding: 0;
  font-family: $font;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  // background-color: #E4E4E4;
  background-color: $background;
  color: $white-two;
}

.goToTop {
  position: fixed;
  bottom: 3%;
  right: 2%;
  
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;

  opacity: 0;
  transform: translateY(200%);

  transition: all .5s ease;

  img {
    width: 100%;
    height: 100%;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}

.line {
  height: 2px;
  width: 100%;
  background: $cardBackground;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

header {
  background-color: $cardBackground;
  width: 100%;
  height: 10vh;
  color: $white;

  position: fixed;
  top: 0;
  z-index: 9;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1400px;
    margin: 0 auto;
    width: 90%;
    height: 100%;
  
  
    h4 {
      font: 4.5rem 'Akronim';
      color: $green;
      text-shadow:  2px 2px 5px$green;
    }
  
    nav {
      display: flex;
      align-items: center;
      height: 100%;

      ul {
        display: flex;
        justify-content: space-evenly;
              
        li {
          list-style: none;
          margin: 0 3rem;
  
          a {
            display: block;
            text-decoration: none;
            font-size: 1.8rem;
  
            position: relative;
  
            color: $gray;
            z-index: 1;
  
            cursor: pointer;
  
            &::before {
              content: '';
              position: absolute;
              bottom: -5%;
              left: 50%;
              transform: translate(-50%, -50%);
    
              width: 0;
              height: 1px;
              
              background-color: $green;
              opacity: 0;
    
              z-index: -1;
    
              transition: .5s ease;
            }
    
            &:hover {
              color: $white;
  
              &::before {
                width: 105%;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

#home {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;

  main {
    color: $white;
    position: relative;
    height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    h1 {
      font-size: 1.8rem;
      font-weight: 100;
      letter-spacing: 1px;
      color: $white-two;

      span {
        color: $green;
        font-size: 5.5rem;
        font-weight: 400;
        line-height: 7rem;

        margin: 2rem 0 3rem 3rem;

        display: block;
      }
    }

    p {
        font-size: 1.8rem;
        color: $white-two;
        letter-spacing: 1px;
        font-weight: 100;
    }
    
    .ilustration {
      display: flex;
      justify-content: flex-end;

      img {
        width: 58rem;
      }
    }

    @media (max-width: 900px) {
      display: flex;
      justify-content: center;

      h1 {
        font-size: 1.5em;

        span {
          font-size: 3em;
          margin: 2rem 0 3rem 3rem;
        }
      }

      p {
        font-size: 1.5em;
      }

      .ilustration {
        display: none;
      }
    }
  }
}

#about {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;

  display: grid;
  grid-template-columns: 1fr 1.5fr;

  .imageMe {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    height: 34.5rem;
    width: 34.5rem;

    img {
      border-radius: 5%;
      width: 100%;
    }

    @media screen and (max-width: 1200px) {
      height: 30.5rem;
      width: 30.5rem;
    }
  }

  .textAboutMe {
    max-width: 700px;

    h1 {
      font-size: 3rem;
      letter-spacing: .2rem;
      font-weight: 400;

      display: inline-block;
    }

    p {
      color: $gray;
      line-height: 3.2rem;
      font-size: 1.6rem;
      margin: 1.6rem 1.6rem 1.6rem 0;
    }
  }

  @media screen and (max-width: 900px) {
    display: flex;
    align-items: center;
    justify-content: center;

    .imageMe {
      display: none;
    }
  }
}