@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Saira:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #151515;
  color: #E8E8E8;
}

.goToTop {
  position: fixed;
  bottom: 3%;
  right: 2%;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.goToTop img {
  width: 100%;
  height: 100%;
}

.space-page {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .space-page {
    max-width: 1150px;
  }
}

#home header {
  height: 10vh;
  font-size: 1.5rem;
  background-color: #2E2E2E;
  color: #FFFFFF;
}

#home header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 1.3rem;
}

#home header nav h4 {
  font: 2.5rem 'Akronim';
  color: #04d361;
  text-shadow: 2px 2px 5px #04d361;
}

#home header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#home header nav ul li {
  list-style: none;
  margin: 0 2rem;
}

#home header nav ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  color: #B5B5B5;
  z-index: 1;
  cursor: pointer;
}

#home header nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 1px;
  background-color: #04d361;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

#home header nav ul li a:hover {
  color: #FFFFFF;
}

#home header nav ul li a:hover::before {
  width: 105%;
  opacity: 1;
}

#home main {
  color: #FFFFFF;
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home main .space-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home main .space-page .about {
  width: 80vw;
}

#home main .space-page .about h1 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;
  color: #E8E8E8;
}

#home main .space-page .about h1 span {
  color: #04d361;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 120%;
  margin: 1rem 0 1.5rem 1.5rem;
  display: block;
}

#home main .space-page .about p {
  font-size: 1.4rem;
  color: #E8E8E8;
  letter-spacing: 1px;
  font-weight: 100;
}

#home main .space-page .ilustration {
  position: absolute;
  right: 5%;
  top: 10%;
}

#about {
  height: 45vh;
}
/*# sourceMappingURL=style.css.map */